@{
    ViewBag.Title = "桿次入料時間";
    Layout = "~/Views/Shared/light7_Layout.cshtml";
}
<div class="page-group ">
    <div id="page-label-input" class="page theme-dark">

        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left back" href="javascript:void(0)" onclick="window.history.back();">
                <span class="icon icon-left"></span>
                返回
            </a>
            <h1 class="title">桿次入料時間</h1>
        </header>

        <div class="content">
            <div class="list-block">
                <ul>
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">槽號:</div>
                                <div class="item-input">
                                    <input id='poolno' type="text" placeholder="" value="" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block media-list">
                
                <ul>
                    <li>
                        @*<a href="#" class="item-link item-content">*@
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">桿次:<span id="polesn"></span></div>
                                <div class="item-after">桿號:<span id="poleno"></span></div>
                            </div>
                            <div class="item-text">
                                <div class="row">
                                    <div class="col-50"><span id="rollno1"></span></div>
                                    <div class="col-50"><span id="rollno2"></span></div>
                                </div>
                                <div class="row">
                                    <div class="col-50"><span id="rollno3"></span></div>
                                    <div class="col-50"><span id="rollno4"></span></div>
                                </div>
                            </div>
                        </div>
                        @*</a>*@
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul id="inout">
                    <!-- Text inputs -->
                    <li id="bdt_block">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">入料時間</div>
                                <div class="item-input">
                                    <input type="text" placeholder="" id='bdt' value="" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="edt_block">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">出料時間</div>
                                <div class="item-input">
                                    <input type="text" placeholder="" id='edt' value="" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <div class="row">
                    <div id="cancel" class="col-33"><a href="#" class="button button-big button-fill button-danger">取消</a></div>
                    <div id="done" class="col-33"><a href="#" class="button button-big button-fill ">完工</a></div>
                    <div id="finish" class="col-33"><a href="#" class="button button-big button-fill button-success external">儲存</a></div>
                </div>
            </div>

        </div>
    </div>

</div>   

@section scripts {
<script>
    var v_type = $.request("type");
    var v_polesn = $.request("polesn");

    var cnt = 1;
    $(function () {

        // 顯示桿次資料
        GetPoleData();

        $('input:text').focus(
            function () {
                $(this).css({ 'background-color': '#ff9999' });
            });
        $('input:text').blur(
            function () {
                $(this).css({ 'background-color': '#262626' });
            });

        $("#poolno").focus();

        if (v_type == 'in') {
            $('#edt_block').hide();
            $("#bdt").datetimePicker({
                toolbarTemplate: '<header class="bar bar-nav">\<button class="button button-link pull-right close-picker">確認</button>\<h1 class="title">選擇時間</h1>\</header>'
            });
            //$("#bdt").focus();
            $("#bdt").val(GetNow());
        } else {
            $('#bdt').val('2018-03-13 12:00');
            $('#bdt').prop('disabled', 'disabled');
            $("#edt").datetimePicker({
                toolbarTemplate: '<header class="bar bar-nav">\<button class="button button-link pull-right close-picker">確認</button>\<h1 class="title">選擇時間</h1>\</header>'
            });
            //$("#edt").focus();
            $("#edt").val(GetNow());
        }

        
    });



    // 顯示桿次資料    
    function GetPoleData() {
        $.showPreloader();
        $.ajax({
            type: "get",
            url: "/Pickling/GetPoleList2",
            data: { polesn: v_polesn },
            dataType: "json",
            cache: false,
            async: true,
            success: function (data) {
                //MACHINE_NAME,MO_LIST,TYPE1,SDT,TASK,COLOR
                var trHTML = '';

                $.each(data.pole, function (i, item) {
                    var v_polesn = data.pole[i].POLESN;
                    var v_poleno = data.pole[i].POLENO;
                    var v_rollno1 = data.pole[i].ROLLNO_1;
                    var v_rollno2 = data.pole[i].ROLLNO_2;
                    var v_rollno3 = data.pole[i].ROLLNO_3;
                    var v_rollno4 = data.pole[i].ROLLNO_4;

                    $('#polesn').text(v_polesn);
                    $('#poleno').text(v_poleno);
                    $('#rollno1').text('卷1: ' + v_rollno1);
                    $('#rollno2').text('卷2: ' + v_rollno2);
                    $('#rollno3').text('卷3: ' + v_rollno3);
                    $('#rollno4').text('卷4: ' + v_rollno4);

                });

                $.hidePreloader();
                $.toast("讀取桿次資料");
            },
            error: function (msg) {
                //alert(msg.responseText);
                $.hidePreloader();
                $.toast("讀取桿次資料發生錯誤");
            }
        });
    }


    $("#finish").click(function () {
        var v_poolno = $("#poolno").val();
        var v_poleno = $("#poleno").val();
        var v_bdt = $("#bdt").val();
        var v_edt = "";
        var poledata = {
            
            polesn: v_polesn,
            poolno: v_poolno,
            bdt: v_bdt,
            edt: v_edt,
        }
        // 儲存入料時間
        $.ajax({
            type: 'GET',
            url: "/Pickling/SavePolein",
            data: { poledata: JSON.stringify(poledata)},
            dataType: "text",
            async: true,
            cache: false,
            contentType: false,
            processData: true,
            success: function (data) {
                $.toast('儲存成功');
                $('#msn')[0].play();
                // 儲存成功，回首頁
                if (data != '') {
                    location.href = '/Pickling/BarcodeScan';
                }

            }, error: function () { //請求失敗
                $.toast('Error');
            }
        });

    });

        
    $("#cancel").click(function () {
        $.confirm('確定要取消嗎?','回首頁', function () {
            location.href = '/Pickling/BarcodeScan';
        });

    });

    $("#done").click(function () {
        $.confirm('確定要完工嗎?', '完工', function () {
            // 儲存入料時間
            $.ajax({
                type: 'GET',
                url: "/Pickling/SetPoleDone",
                data: { polesn: v_polesn },
                dataType: "text",
                async: true,
                cache: false,
                contentType: false,
                processData: true,
                success: function (data) {
                    
                    // 儲存成功，回首頁
                    if (data == 'success') {
                        $.toast('此卷完工');
                        $('#msn')[0].play();

                        setTimeout(function () {
                            location.href = '/Pickling/BarcodeScan';
                        }, 500)
                        
                    }

                }, error: function () { //請求失敗
                    $.toast('Error');
                }
            });
        });

    });

</script>
}

