@{
    ViewBag.Title = "桿次IO時間";
    Layout = "~/Views/Shared/light7_Layout.cshtml";
}

<div class="page theme-dark">
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" href="javascript:void(0)" onclick="window.history.back();">
            <span class="icon icon-left"></span>
            返回
        </a>
        <h1 class="title">桿次IO時間</h1>

    </header>

    <div class="content">
        <div class="list-block media-list inset">
            <ul id="poledata"> </ul>
        </div>
        <div class="list-block media-list inset">
            <ul id="polelist" ></ul>
        </div>
    </div>
    <div class="bar bar-footer">
        <a href="/Pickling/" class="icon icon-home pull-left external"></a>
        @*<a class="icon icon-settings pull-right"></a>*@
    </div>
</div>
@section scripts {
    <script>
        var v_polesn = $.request("polesn");
        $(function () {
            GetPoleIO();
        });

        // 取得桿次資料
        function GetPoleIO() {
            $.showPreloader();

            // 顯示已選取幾筆
            setTimeout(function () {
                $.ajax({
                    type: "get",
                    url: "/Pickling/GetPoleIO",
                    data: { polesn: v_polesn },
                    dataType: "json",
                    cache: false,
                    async: true,
                    success: function (data) {
                        //MACHINE_NAME,MO_LIST,TYPE1,SDT,TASK,COLOR
                        if (data.pole.length > 0) {
                            var trHTML = '';
                            trHTML += '';
                            trHTML += '<li><div class="item-inner"><div class="item-title-row">';
                            trHTML += '<div class="item-title">桿次:' + data.pole[0].POLESN + '</div>';
                            trHTML += '<div class="item-after">桿號:' + data.pole[0].POLENO + '</div></div>';
                            trHTML += '<div class="item-subtitle">卷號</div>';
                            trHTML += '<div class="item-text"><div class="row">';
                            trHTML += '<div class="col-100">' + data.pole[0].ROLLNO_1 + '<br />' + data.pole[0].ROLLNO_2 + '</div>';
                            trHTML += '</div></div><div class="item-text"><div class="row">';
                            trHTML += '<div class="col-100">' + data.pole[0].ROLLNO_3 + '<br />' + data.pole[0].ROLLNO_4 + '</div>';
                            trHTML += '</div></div></div></li>';

                            $('#poledata').empty();
                            $('#poledata').append(trHTML);
                            $('#poledata').trigger('create');

                            trHTML = '';
                            $.each(data.pole, function (i, item) {
                                trHTML += '<li>';
                                trHTML += '<div class="item-inner"><div class="item-title-row">';
                                trHTML += '<div class="item-title">槽號:' + data.pole[i].POOLNO + '</div>';
                                trHTML += '</div><div class="item-text"><div class="row">';
                                trHTML += '<div class="col-20">開始:</div><div class="col-80">' + data.pole[i].BDT + '</div></div><div class="row">';
                                trHTML += '<div class="col-20">結束:</div><div class="col-80">' + data.pole[i].LEAD_EDT + '</div>';
                                trHTML += '</div></div></div></div></li>';
                            });

                            $('#polelist').empty();
                            $('#polelist').append(trHTML);
                            $('#polelist').trigger('create');
                            //$('#empcontact').listview('refresh');
                        }
                        $.hidePreloader();
                        //$.toast("讀取桿次資料");
                    },
                    error: function (msg) {
                        //alert(msg.responseText);
                        $.hidePreloader();
                        $.toast("讀取桿次資料發生錯誤");
                    }
                });

            }, 60);
        }
    </script>
}

